# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch
*.pth
*.pt
*.ckpt

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp

# Datasets
*.bin
data/
input.txt
lexibyte_vocab.json
PATCH.md

